**/*.pyc
ECLAIR_plots_KOIOS.py
ECLAIR_plots_stashed.py
OLD_ECLAIR_plots.py
engines/
inputs/example_empty.ini
inputs/example_short_MPI.ini
inputs/example_short_bis.ini
inputs/example_short_test.ini
inputs/example_test.ini
inputs/example_test_DESI.ini
interval_finder.py
lcparam_full_long.txt
likelihoods/BG/SN/JLA/ReadMe.txt
likelihoods/BG/SN/JLA/jla.dataset
likelihoods/BG/SN/JLA/jla_lcparams.txt
likelihoods/BG/SN/JLA/jla_mub.txt
likelihoods/BG/SN/JLA/jla_mub_covmatrix.dat
likelihoods/BG/SN/JLA/jla_simple.dataset
likelihoods/BG/SN/JLA/jla_v0_covmatrix.dat
likelihoods/BG/SN/JLA/jla_v0a_covmatrix.dat
likelihoods/BG/SN/JLA/jla_v0b_covmatrix.dat
likelihoods/BG/SN/JLA/jla_va_covmatrix.dat
likelihoods/BG/SN/JLA/jla_vab_covmatrix.dat
likelihoods/BG/SN/JLA/jla_vb_covmatrix.dat
likelihoods/BG/SN/Pantheon/lcparam_full_long.txt
likelihoods/BG/SN/Pantheon/sys_full_long.txt
likelihoods/CMB/ACT/DR6_lensing/data
likelihoods/CMB/BK/BK15/data/
likelihoods/CMB/BK/BK18/data/
likelihoods/CMB/SPT/SPT3G_2020/data/
new_dico_par.txt
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly.ini
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly.txt
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_gdist.paramnames
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_gdist.ranges
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_gdist.txt
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_plot_1.png
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_plot_2.png
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_plot_3.png
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_plot_4.png
outputs/2023_08_28_PlkPR4lollipop_zdzreio_Asonly_plot_5.png
outputs/test.ini
outputs/test.log
outputs/test.txt
outputs/testMPI.ini
outputs/testMPI.log
outputs/testMPI.txt
outputs/test_BK.ini
outputs/test_BK.log
outputs/test_BK.txt
outputs/test_DESI_w0wa.ini
outputs/test_DESI_w0wa.log
outputs/test_DESI_w0wa.txt
outputs/test_empty.ini
outputs/test_empty.log
outputs/test_empty.txt
outputs/test_proff.ini
outputs/test_proff.log
outputs/test_proff.txt
outputs/test_time.ini
outputs/test_time.log
outputs/test_time.txt
outputs/test_time2.ini
outputs/test_time2.log
outputs/test_time2.txt
outputs/test_time3.ini
outputs/test_time3.log
outputs/test_time3.txt
outputs/testhil.ini
outputs/testhil.txt
outputs/testhil2.ini
outputs/testhil2.txt
outputs/testlol.ini
outputs/testlol.txt
outputs/toto.ini
outputs/toto.log
outputs/toto.txt
outputs/toto_plot_1.png
outputs/toto_plot_2.png
outputs/toto_plot_3.png
outputs/toto_plot_4.png
outputs/toto_plot_5.png
test_dico.txt
ECLAIR_mcmc_CAMB.py
ECLAIR_mcmc_CAMB_bgonly.py
ECLAIR_mcmc_CAMB_reio.py
ECLAIR_mcmc_reio.py
ECLAIR_plots_IAT_proto.py
inputs/2asymm.ini
inputs/2flex.ini
inputs/2inter.ini
inputs/2tanh.ini
inputs/3flex.ini
inputs/3inter.ini
inputs/3tanh.ini
inputs/3tanh_mini.ini
inputs/gauss_inv.ini
inputs/lowPlanck_TT_fit.ini
inputs/tanh10.ini
inputs/tanh10_wlens.ini
likelihoods/BG/SN/DESY5/DES-SN5YR_HD.csv
likelihoods/BG/SN/DESY5/covsys_000.txt
likelihoods/BG/SN/DESY5_mod/
likelihoods/BG/SN/PantheonPlus/Pantheon+SH0ES.dat
likelihoods/BG/SN/PantheonPlus/Pantheon+SH0ES_STAT+SYS.cov
likelihoods/BG/SN/PantheonPlus_mod/
likelihoods/Misc/
